@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background: silver;
}

header {
  background: #ffc400;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo figure {
  width: 30px;
  margin-right: 10px;
}

.add-note__btn {
  display: flex;
  align-items: center;
  background: transparent;
  position: relative;
  border: none;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}

.add-note__btn-text {
  margin-left: 50px;
  margin-right: 10px;
  position: relative;
  font-size: calc(1rem + 0.1vw);
}

.add-note__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30%;
  background: silver url("icons/arrow-right.svg") 11px center/20px no-repeat;
  transition: 0.2s all linear;
  border-radius: 50px;
}

.add-note__btn:hover::before {
  width: 100%;
}

.notes__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 1400px;
  min-height: calc(100vh - 137px);
  margin-inline: auto;
  padding: 40px;
}

.note {
  background-color: #fff;
  height: 200px;
  overflow-y: auto;
}

.note .operation {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.edit-button,
.delete-button {
  border: 2px solid #fff;
  color: #fff;
  margin-left: 0.5rem;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.delete-button {
  padding: 10px;
  color: #fff;
  background-color: #2ecc71;
  border-radius: 50%;
  background: url("icons/trash-alt.svg") center center/40% no-repeat, #e74c3c;
}

.delete-button:hover {
  border: 2px solid #e74c3c;
  background: url("icons/trash-alt-hover.svg") center center/40% no-repeat, #fff;
}

.edit-button {
  padding: 15px;
  color: #fff;
  background-color: #2ecc71;
  border-radius: 50%;
  background: url("icons/edit.svg") center center/55% no-repeat, #2ecc71;
}

.edit-button:hover {
  background: url("icons/edit-hover.svg") center center/55% no-repeat, #fff;
  border: 2px solid #2ecc71;
}

.note textarea {
  width: 100%;
  height: 70%;
  outline: none;
  font-family: inherit;
  border: none;
  font-size: 1.2rem;
  padding: 20px;
  resize: none;
}

.site-footer {
  background: #ffc400;
  padding: 20px;
  text-align: center;
}

.site-footer a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: currentColor;
  transition: all 0.3s linear;
}

.site-footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s linear;
}

.site-footer a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media screen and (max-width: 992px) {
  .notes__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .notes__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
